<form action="/user" method="post">
    name :<input type="text" name="txt1"> <br>
    gender :<input type="text" name="txt2"> <br>
    number :<input type="number" name="txt3"> <br>
    <input type="submit">
</form>