<h1>resualt</h1>

A  value is <%= a%> <br>
b  value is <%= b%> <br>
sum value is <%= c%> <br>

<% if(c==30){%>
    <p style="background-color: aqua;">c is 30</p>

    <% }else {%>
        <p style="background-color: rgb(194, 16, 16);">c is not 30</p>
        <% }%>