<html>
    <body>
        
        <form  method="post" action="/update/<%=mydata._id%>">
            name :<input type="text" name="txt1" value="<%= mydata.uname%>"> <br>
            gender :<input type="text" name="txt2" value="<%= mydata.ugender%>"> <br>
            number :<input type="number" name="txt3" value="<%= mydata.umobile%>"> <br>
            <input type="submit">
        </form>
    </body>
</html>